@*
* This template takes a two arguments, a String containing a
* message to display and an AssetsFinder to locate static assets.
*@
@(message: String)(implicit assetsFinder: AssetsFinder)


@headers = {
<link href="@assetsFinder.path("javascripts/jquery-ui-1.12.1/jquery-ui.css")" rel="stylesheet">
<script src="@assetsFinder.path("javascripts/jquery-ui-1.12.1/external/jquery/jquery.js")" type="text/javascript"></script>
<script src="@assetsFinder.path("javascripts/jquery-ui-1.12.1/jquery-ui.js")" type="text/javascript"></script>
<script src="@assetsFinder.path("javascripts/autocomplete.js")" type="text/javascript"></script>
}

@main(message, headers, assetsFinder) {
<h3 class="demoHeaders">Country search:</h3>
<div>
    <input id="autocomplete" title="type countries">
</div>
}